# Logs Verification Commands

tail -f /var/log/aws-kinesis-agent/aws-kinesis-agent.log

Expected Logs:

Successfully sent records to destination

Tailing file:
/tmp/orders.csv

Tailing file:
/tmp/customers.csv